<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATABASE_PROJECT.Properties.Settings.SHOPVERSEConnectionString"
            connectionString="Data Source=FAZALKHAN\SQLEXPRESS;Initial Catalog=SHOPVERSE;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="DATABASE_PROJECT.Properties.Settings.darazsystemConnectionString"
            connectionString="Data Source=Fazalkhan\SQLEXPRESS;Initial Catalog=darazsystem;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>